
<div class=sidebar-header>
  <div class="user-name">
    <a href="#">けいすけ</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class=rooms>
  <div class=chat-rooms>
    <div class=chat-room>
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class=chat-rooms>
    <div class=chat-room>
      <a href="#">chatroom2</a>
    </div>
  </div>
</div>