<div class="wrapper">

  <div class=sidebar-box>
    <%= render "side_bar" %>
  </div>

  <div class=main-box>
    <%= render "main_chat" %>
    <div class=main-top>
    </div>
    <div class=main-middle>
    </div>
    <div class=main-bottom>
    </div>
  </div>
</div>