.wrapper {
  display: flex;
}


.sidebar-box {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  height: 100px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2f3f51;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 15px;
}

.chat-rooms {
  padding: 20px 20px 40px;
}

.chat-room a{
  text-decoration: none;
  color: white;
}

.main-box {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-header {
  height: 100px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  color: #333;
  margin: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  width: 100%;
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  height: 90px;
  width: 100%;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}