.wrapper {
  display: flex;
}


.sidebar-box {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  height: 100px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2f3f51;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 15px;
}

.chat-rooms {
  padding: 20px 20px 40px;
}

.chat-room a{
  text-decoration: none;
  color: white;
}

.main-box {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-header {
  height: 100px;
  width: 100%;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  width: 100%;
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.form {
  height: 90px;
  width: 100%;
  background-color: #dddddd;
  padding: 20px 40px;
}