.wrapper {
  display: flex;
}


.sidebar-box {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  height: 100px;
  width: 100%;
  padding: 0 20px;
}

.rooms {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2f3f51;
  padding: 0 20px;
}

.main-box {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-header {
  height: 100px;
  width: 100%;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  width: 100%;
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.form {
  height: 90px;
  width: 100%;
  background-color: #dddddd;
  padding: 20px 40px;
}